h1{
    margin:auto;
    text-align:center;
    width:200px;
    height:200px ;
    background-color:
    green;
}
h2{
    width: 200px;
    background-color: blue;
    text-align: center;
    margin: auto;
}
