@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
#title{
    text-align: center;
    font-size: 40px;
    font-family:"Sacramento" ;
}

body{
    background-color:whitesmoke;
    font-family:"BIZ UDPGothic" ;
}
#topimg{
    font-size: 30%;
    text-align: center;
}
#main{
    margin-right: 20%;
}
#sidebar{
    width: 15%;
    height: 500px;
    background-color: chartreuse;
    right:0px;
    text-align: center;
    margin: auto;
    position: fixed;
}

h1{
    margin:auto;
    text-align:center;
    width:200px;
    height:200px ;
}

h2{
    width: 200px;
    background-color: blue;
    text-align: center;
    margin: auto;
}
article{
    display: flex;
}
